<!DOCTYPE html>
<!--
This example shows a header and footer layout

References:
http://stackoverflow.com/questions/27090257/how-to-implement-the-classic-sticky-footer-with-angular-material
-->
<html>
	<head>
		<!--
			The encoding in the next tags is neccessary to avoid browser warnings
		-->
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<title>simple angular.js demo</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- angular -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
		<!-- angular material -->
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc.5/angular-material.min.css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc.5/angular-material.min.js"></script>
		<!-- our code -->
		<script type="text/javascript" src="header.js"></script>
		<link rel="stylesheet" href="header.css">
	</head>
	<body>
		<div data-ng-app="MyApp" data-ng-cloak layout="column">
			<header>
				<md-toolbar class="md-toolbar" md-scroll-shrink>
					<div class="md-toolbar-tools">My Messages</div>
				</md-toolbar>
			</header>
			<main flex>
				<md-content>
					<md-list flex>
						<md-subheader class="md-sticky">Here are some of my projects at github</md-subheader>
						<md-list-item class="md-1-line" ng-click="null">
							<h3>project1</h3>
						</md-list-item>
						<md-list-item class="md-1-line" ng-click="null">
							<h3>project2</h3>
						</md-list-item>
						<md-list-item class="md-1-line" ng-click="null">
							<h3>project3</h3>
						</md-list-item>
						<md-list-item class="md-1-line" ng-click="null">
							<h3>project4</h3>
						</md-list-item>
						<md-list-item class="md-1-line" ng-click="null">
							<h3>project5</h3>
						</md-list-item>
						<md-list-item class="md-1-line" ng-click="null">
							<h3>project6</h3>
						</md-list-item>
						<md-list-item class="md-1-line" ng-click="null">
							<h3>project7</h3>
						</md-list-item>
						<md-list-item class="md-1-line" ng-click="null">
							<h3>project8</h3>
						</md-list-item>
						<md-list-item class="md-1-line" ng-click="null">
							<h3>project9</h3>
						</md-list-item>
						<md-list-item class="md-1-line" ng-click="null">
							<h3>project10</h3>
						</md-list-item>
						<md-list-item class="md-1-line" ng-click="null">
							<h3>project11</h3>
						</md-list-item>
						<md-list-item class="md-1-line" ng-click="null">
							<h3>project12</h3>
						</md-list-item>
					</md-list>
				</md-content>
			</main>
			<footer>
				<md-toolbar class="md-toolbar" md-scroll-shrink layout="row" layout-align="center center">
					My Awesome Footer
				</md-toolbar>
			</footer>
		</div>
	</body>
</html>
